<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Lien vers le fichier CSS -->
  </head>

<body>

    <!-- Navbar -->
<div class="navbar">
    <img src="/static/pictures/profil-removebg-preview.png"  width="200" height="200">

    <a href="#index"><h2>Accueil</h2></a>
    <a href="#experiences"><h2>Expériences</h2></a>
    <a href="#competences"><h2>Compétences</h2></a>
    <a href="#projets"><h2>Projets</h2></a>
    <a href="#contact"><h2>Contact</h2></a>
    <a href="./template/admin.html"><h2>Admin</h2></a>
    <br></br>
    <br></br>



    <b class="" href="https://github.com/lounabrtt/3_days_portfolio_BJ">
        <img src="/static/pictures/Untitled.png" width="200" height="200">
    </b>
</div>

    <section id="contact">
        <h1>Admin</h1>
        <p>Vous pouvez ici modifier les posts (language de programation, logiciels, projet)</p>

        <form action="/contact" method="post">
            <label for="titre">Titre :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="name">Sous-titre :</label>
            <input type="text" id="name" name="name" required>

            <label for="message">description :</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Enregistrer</button>
        </form>

    </section>

    <section id="contact">
        <h1>Admin</h1>
        <p>Vous pouvez ici modifier les posts (language de programation, logiciels, projet)</p>

        <form action="/contact" method="post">
            <label for="titre">Titre :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="name">Sous-titre :</label>
            <input type="text" id="name" name="name" required>

            <label for="message">description :</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Enregistrer</button>
        </form>

    </section>

        <section id="contact">
        <h1>Admin</h1>
        <p>Vous pouvez ici modifier les posts (language de programation, logiciels, projet)</p>

        <form action="/contact" method="post">
            <label for="titre">Titre :</label>
            <input type="text" id="firstname" name="firstname" required>

            <label for="name">Sous-titre :</label>
            <input type="text" id="name" name="name" required>

            <label for="message">description :</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Enregistrer</button>
        </form>

    </section>
</body>


</html>
