<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="/static/pictures/profil.jpg">

</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <img src="/static/pictures/profil-removebg-preview.png"  width="200" height="200">

    <a href="#index"><h2>Accueil</h2></a>
    <a href="#experiences"><h2>Expériences</h2></a>
    <a href="#competences"><h2>Compétences</h2></a>
    <a href="#projets"><h2>Projets</h2></a>
    <a href="#contact"><h2>Contact</h2></a>
    <a href="./login.html"><h2>Admin</h2></a>
    <br></br>



    <b class="" href="https://github.com/lounabrtt/3_days_portfolio_BJ">
        <img src="/static/pictures/Untitled.png" width="200" height="200">
    </b>
</div>

<!-- Sections -->
<section id="index">
    <h3>JAHSI <span class="text-primary">Melvin</span></h3>
    <h4>77600 CHANTELOUP-EN-BRIE · 0651196585 · melvin.jahsi@gmail.com</h4>
    <p>
        J'ai 18 ans et je suis étudiant à Paris Ynov Campus à Nanterre, où je suis un cursus en informatique. Passionné par les nouvelles technologies, je suis motivé, dynamique et attentif, avec une bonne capacité d'adaptation. 
        Je cherche à effectuer mon stage de seconde année en fonction de mon emploi du temps pour développer mes compétences techniques en programmation et en gestion des systèmes.
        Désireux de mettre à profit mes connaissances acquises, je souhaite acquérir de nouvelles expériences professionnelles qui me permettront de valider mon diplôme et de me préparer à ma future carrière dans le domaine de l'informatique.
    </p>
</section>

<section id="experiences">
    <h1>Experience</h1>
    <p>Voici quelques informations sur mon expériences éducatives.</p>
    <br></br>
    <h5>PARIS YNOV CAMPUS</h5>
    <h6>Cursus d'ingénieur en informatique 2023-2025</h6>
    <p>Première année de formation valider (B1), seconde année en cours de formation (B2).</p>
    <br></br>

    <h5>LYCEE MARTIN LUTHER KING</h5>
    <h6>certificat de formation  2020-2023</h6>
    <p>Diplôme : Bac TECHNOLOGIQUE 2023 (2023) MENTION : BIEN</p>
    <br></br>

    <h5>LES 4 ARPENTS</h5>
    <h6>certificat de formation  2016-2020</h6>
    <p>Diplôme : Brevet des collèges </p>





</section>

<section id="competences">
    <h1>Compétences</h1>
    <p>Voici quelques spécifications de nos compétences.</p>

<h5>Language de programmation</h5>
<br></br>
<br></br>
<br></br>
<div class="container2">
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>go</span>
        <img src="/static/pictures/inconnes/icon-go.png" alt="Go Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>java</span>
        <img src="/static/pictures/inconnes/icon-java.png" alt="Java Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>html / css</span>
        <img src="/static/pictures/inconnes/icon-html.png" alt="HTML/CSS Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>c</span>
        <img src="/static/pictures/inconnes/icon-c.png" alt="C/Arduino Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>python</span>
        <img src="/static/pictures/inconnes/icon-python.png" alt="Python Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>js</span>
        <img src="/static/pictures/inconnes/icon-javascript.png" alt="JavaScript Icon" width="50" height="50">
    </div>
    <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
        <span>ajouter un language</span>
        <img src="/static/pictures/plus.png" alt="Add Icon" width="50" height="50">
    </div>
</div>

    <br></br>
    <h5>Logiciel matriser</h5>
    <br></br>
    <br></br>
    <br></br>
    <div class="container2">
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>vscode</span>
            <img src="/static/pictures/inconnes/icon-vscode.png" alt="VSCode Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>ubuntu</span>
            <img src="/static/pictures/inconnes/icon-ubuntu.png" alt="Ubuntu Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>cisco PT</span>
            <img src="/static/pictures/inconnes/icon-cisco.png" alt="Cisco Packet Tracer Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>github</span>
            <img src="/static/pictures/inconnes/icon-github.png" alt="GitHub Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>kali</span>
            <img src="/static/pictures/inconnes/icon-kali.png" alt="Kali Linux Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>postman</span>
            <img src="/static/pictures/inconnes/icon-postman.png" alt="Postman Icon" width="50" height="50">
        </div>
        <div class="box2" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">
            <span>vmware</span>
            <img src="/static/pictures/inconnes/icon-vmware.png" alt="VMware Icon" width="50" height="50">
        </div>
        <div class="box2">
            <span>ajouter un logiciel</span>
            <img src="/static/pictures/plus.png" alt="Add Icon" width="50" height="50">
        </div>
    </div>



</section>

<section id="projets">
    <h1>Projets</h1>
    <p>Voici quelques spécifications de nos projets.</p>

    <div class="container">
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">RPG</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">HANGMAN CLASSIC</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">HANGMAN WEB</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">GROUPIE-TRACKER</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">NETPBM / PGM</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">FORUM BEEP-BO</div>
        <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">PROJET JS</div>
        <div class="box">AJOUTER UN PROJET<img src="/static/pictures/plus.png" width="100" height="100">

        <!-- {{range .}}
            <div class="box" onclick="window.location.href='https://github.com/jahsimelvin?tab=repositories';">{{.title}}</div>
        {{end}}
    </div> -->
    </div>

</section>

<section id="contact">
    <h1>Contactez moi</h1>
    <p>Vous pouvez nous contacter ici.</p>

    <form action="/contact" method="post">
        <label for="firstname">Prénom :</label>
        <input type="text" id="firstname" name="firstname" required>

        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Téléphone :</label>
        <input type="phone" id="phone" name="phone" required>

        <label for="message">Message :</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Envoyer</button>

    </form>
</section>

</body>
</html>